git+https://github.com/vphpersson/option_parser.git#egg=option_parser
git+https://github.com/vphpersson/smtp_lib.git#egg=smtp_lib[parse]
git+https://github.com/vphpersson/ecs_tools_py.git#egg=ecs_tools_py
